@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

$family-monospace: "IBM Plex Mono", "Menlo", "Consolas", monospace;
$family-primary: $family-monospace;
$purple: #16003B;
$text: #cecece;

$primary: $purple;
$body-background-color: $primary;
$size-6: 0.90rem;

@import "../node_modules/bulma/bulma.sass";
